#customControls {
    .custom_section_horizontal {
        display:inline-block;
    }
    .custom_section_vertical_section {
        min-width:15px; 
        min-height:15px; 

        margin: 8px 8px; 
        padding: 8px 8px; 
        
        border:1px dashed #000000;
    }
    .custom_section_horizontal_section {
        float:left; 

        .custom_section_vertical_section();
    }
}