#settings_plugin_customControl .innerSortable {
  width: 100%;
  min-height: 50px;
}
.customControlEditor .custom_section_horizontal > .custom_control {
  display: inline-block;
}
.customControlEditor .custom_section_vertical > .custom_control {
  display: block;
}
.customControlEditor .custom_section_vertical_section {
  min-width: 15px;
  min-height: 15px;
  border: 1px dashed #000000;
}
.customControlEditor .slider.slider-disabled .slider-track {
  cursor: default !important;
}
.customControlEditor input[disabled] {
  background: #fff !important;
  cursor: text !important;
}
.customControlEditor .btn-group {
  margin-bottom: 10px;
}
.customControlEditor .btn-group.distance > .btn {
  width: 43px;
  padding: 3px 0;
  height: 30px;
}
.customControlEditor .slider-handle {
  width: 14px;
  height: 14px;
  margin-left: -7px;
  margin-top: -3px;
}
.customControlEditor .custom_section h1 {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  font-weight: normal;
}
.customControlEditor .custom_control .slider {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}
